<div class="container">
  <div class="row">
    <%= flash[:warning] %>
    <div class="col-lg-12 center-block" style="margin: 40px 0 10px 0">
      <h4 style="margin: 0 0 20px 100px">マイページ</h4>
      <h5>登録情報
      <%= link_to '編集する', customers_edit_path(current_customer), class: 'btn btn-primary' %>
      <%= link_to 'パスワードを変更する', edit_customer_registration_path, class: 'btn btn-primary'  %>
      </h5>
    </div>
    <div class="col-lg-6 center-block">
      <table class="table table-hover table-inverse">
        <tr>
          <th class="col-xs-3">氏名</th>
          <td class="col-xs-9"><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th class="col-xs-3">カナ</th>
          <td class="col-xs-9"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th class="col-xs-3">郵便番号</th>
          <td class="col-xs-9"><%= @customer.postcode %></td>
        </tr>
        <tr>
          <th class="col-xs-3">住所</th>
          <td class="col-xs-9"><%= @customer.address %></td>
        </tr>
        <tr>
          <th class="col-xs-3">電話番号</th>
          <td class="col-xs-9"><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th class="col-xs-3">メールアドレス</th>
          <td class="col-xs-9"><%= @customer.email %></td>
        </tr>
      </table>

      <h5>配送先
      <%= link_to '一覧を見る', addresses_path(current_customer), class: 'btn btn-primary' %>
      </h5>
      <h5>注文履歴
      <%= link_to '一覧を見る', orders_path(current_customer), class: 'btn btn-primary' %>
      </h5>
    </div>
  </div>
</div>