    <h1>注文情報確認</h1>
      <div class="row">
          <div class="col-lg-8">
            <table class="table">
              <thead class="table-title">
                <tr>
                  <th>商品名</th>
                  <th>単価</th>
                  <th>数量</th>
                  <th>小計</th>
                </tr>
              </thead>
              <% @order_product.each do |order_product|%>
                <tbody>
                  <tr>
                    <td><%= order_product.product.name %></td>
                    <td><%= ((order_product.product.non_taxed_price * 1.1).floor).to_s(:delimited) %></td>
                    <td><%= order_product.amount %></td>
                    <td><%= ((order_product.product.non_taxed_price * order_product.amount * 1.1).floor).to_s(:delimited)%>円</td>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </div>

        <% @orders.each do |f| %>
          <div class="col-lg-3">
            <table class="table">
              <tr>
                <th>送料</th>
                <td><%= f.shipping_cost %>円</td>
              </tr>
              <tr>
                <th>商品合計</th>
                <td><% sum = 0 %>
                  <% @order_product.each do |order_product| %>
                  <% sum += order_product.product.non_taxed_price * order_product.amount %>
                  <% end %>
                  <%= (sum = (sum * 1.1).floor).to_s(:delimited) %>円
                </td>
              </tr>
              <tr>
                <th>請求金額</th>
                <td> <%= (sum + f.shipping_cost).to_s(:delimited) %>円</td>
              </tr>
            </table>
          </div>
          <div class="col-lg-8">
            <table>
              <tr>
                <th>支払方法</th>
                <td><%= f.payment_method %></td>
              </tr>
              <tr>
                <th>お届け先</th>
                <td>〒<%= f.postcode %><br>
                          <%= f.address %><br>
                          <%= f.name %> 様
                </td>
              </tr>
            </table>
            <div class="col-lg-3">
             <%= link_to "購入を確定する", orders_complete_path, class:"btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
