  <div class="container">
    <div class="row">
      <h1>注文情報入力</h1>
        <%= form_with model:@order, url: orders_confirm_path,method: :post, local: true do |f| %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <h2>支払方法</h2>
                <%= f.radio_button :payment_method, :クレジットカード %>
                <%= f.label :payment_method, "クレジットカード" %><br>
                <%= f.radio_button :payment_method, :銀行振込 %>
                <%= f.label :payment_method, "銀行振込" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <h2>お届け先</h2>
              <%= f.radio_button :current_customer, "ご自身の住所" %>
              <%= f.label :current_customer, "ご自身の住所" %><br>
              〒<%= current_customer.postcode %><br>
              <%= current_customer.address %><br>
              <%= current_customer.last_name %><%= current_customer.first_name %> 様
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.radio_button :current_customer, "登録済み住所から選択" %>
              <%= f.label :current_customer, "登録済み住所から選択" %><br>
              <%= f.collection_select(:address, current_customer.addresses.all, :id, :name) %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.radio_button :current_customer, "新しいお届け先" %>
              <%= f.label :current_customer, "新しいお届け先" %><br>
                <div>
                  <%= f.label :postcode, "郵便番号（ハイフンなし）" %>
                  <%= f.text_field :postcode %>
                </div>
                <div>
                  <%= f.label :address, "　　住　所　" %>
                  <%= f.text_field :address, class:"col-sm-offset-1" %>
                </div>
                <div>
                  <%= f.label :name, "　　宛　名　" %>
                  <%= f.text_field :name, class:"col-sm-offset-1" %>
                </div>
              </div>
            </div>
          <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
        <% end %>
    </div>
  </div>
