  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <% @orders.each do |f| %>
        <h2>注文履歴詳細</h2>
        <section>
          <h3>注文情報</h3>
          <table class="table">
            <tr>
              <td>注文日</td>
              <td><%= f.created_at.strftime("%Y年%m月%d日") %></td>
            </tr>
            <tr>
              <td>配送先</td>
              <td>〒<%= f.postcode %><br>
                    <%= f.address %><br>
                    <%= f.name %>
              </td>
            </tr>
            <tr>
              <td>支払方法</td>
              <td><%= f.payment_method %></td>
            </tr>
            <tr>
              <td>ステータス</td>
              <td><%= f.status %></td>
            </tr>
          </table>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <section>
          <h3>請求情報</h3>
            <table class="table">
              <tr>
                <td>商品合計</td>
                <td><% sum = 0 %>
                  <% @order_product.each do |order_product| %>
                  <% sum += order_product.product.non_taxed_price * order_product.amount %>
                  <% end %>
                  <%= (sum = (sum * 1.1).floor).to_s(:delimited) %>円
                </td>
              </tr>
              <tr>
                <td>配送料</td>
                
                <td><%= (@order.shipping_cost).to_s(:delimited) %>円</td>
               
              </tr>
              <tr>
                <td>ご請求額</td>
                <td>
                  <%= (sum + @order.shipping_cost).to_s(:delimited) %>円
                </td>
              </tr>
            </table>
        </section>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
          <section>
              <h3>注文内容</h3>
              <table class="table">
                <tr>
                  <th>商品</th>
                  <th>単価（税込）</th>
                  <th>個数</th>
                  <th>小計</th>
                </tr>
                <% @order_product.each do |f| %>
                <tr>
                  <td><%= f.product.name %></td>
                  <td><%= ((f.product.non_taxed_price * 1.1).floor).to_s(:delimited) %></td>
                  <td><%= f.amount %></td>
                  <td><%= ((f.product.non_taxed_price * f.amount * 1.1).floor).to_s(:delimited)%>円</td>
                </tr>
                <% end %>
              </table>
          </section>
      </div>
    </div>
  </div>