<div class="body">
  <div class="container-fluid">
    </br>
    <div class="row">
      <div class="col-xs-2" style="margin: 20px 0 50px 0">
        <%= render 'customer/products/sidebar', genres: @genres %>
      </div>
      <div class="col-xs-10">
          <h3><div class>商品一覧<span style="font-size:20px;">（全<%= @products.total_count %>件）</span></h3><br>
            <div class="row">
              <div class="col-xs-12 col-xs-offset-1">
      	      <% @products.each do |product| %>
                <div class="box" style="float:left; margin-right:120px;">
                  <%= link_to product_path(product) do %>
                    <%= attachment_image_tag product, :image, size:'200x150', fallback: "No_Image.jpg", size:'200x150' %><br>
                  <% end %>
                  <p><%= product.name %></p>
                  <p>¥<%= (product.non_taxed_price*1.1).floor.to_s(:delimited) %></p>
                  <% if product.is_active == false %>
                  <p class="product-is-active">売り切れ</p>
                  <% end %>
                </div>
              <% end %>
      	    </div>
            <div class="col-xs-6 col-xs-offset-4 ">
              <%= paginate @products %>
            </div>
      </div>
    </div>
  </div>
</div>