<div class="body"> 
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2" style="margin: 40px 0 50px 0">
        <%= render 'customer/products/sidebar', genres: @genres  %>
      </div>
      
      <div class="col-xs-10">
        <div class="top_background" style="margin: 80px 10px 100px 80px">
          <div class="top_text">
            <div>ようこそ、NaganoCakeへ！<br/>
                 このサイトは、ケーキ販売のECサイトになります。<br/>
                 会員でない方も商品の閲覧はできますが、<br/>
                 購入には会員登録が必要になります。
            </div>
        </div>
      </div>
      <!--IDが古い順に表示されるようにする？-->
          <h3>オススメ商品</h3>
              <% @rank_products.each do |rank_product| %>
                <div class="box" style="float:left; margin-right:120px;">
                  <%= link_to product_path(rank_product) do %>
                    <%= attachment_image_tag rank_product, :image, size:'200x150', fallback: "No_Image.jpg", size:'200x150' %><br>
                  <% end %>
                  <p><%= rank_product.name %></p>
                  <p>¥<%= (rank_product.non_taxed_price*1.1).floor.to_s(:delimited) %></p>
                  <% if rank_product.is_active == false %>
                  <p class="product-is-active">売り切れ</p>
                  <% end %>
                </div>
              <% end %>
            </div> 
          </div>
          
      <div class="row">
    	  <div class="col-xs-10"></div>
    	  <div class="col-xs-2">
    	    <p><%= link_to "もっと見る>", products_path %></p>
    	  </div>
      </div>
    </div>
  </div>
</div>
